@tailwind base;
@tailwind components;
@tailwind utilities;

.solid-drop-shadow {
  box-shadow: 0 0 0 1.4px #000000;
}
.solid-drop-shadow-lg {
  box-shadow: 2px 2px 0 2px #000000;
}

.another-drop-shadow:hover {
  transition: 300ms;
  box-shadow: 0px 0px 0 6px #eacd92;
}
.category-button {
  outline: 1.5px solid black;
  font-size: medium;
  border-radius: 16rem;
  padding: 12px;
}
